.table {
    border-collapse: collapse;
    font-size: 13px;
}
.table th, 
.table td {
    border: 1px solid #e1edff;
    padding: 7px 17px;
}
.table .title {
    caption-side: bottom;
    margin-top: 12px;
}
.table thead th {
    background-color: #1b87e6;
    color: #e8f0f0;
    border-color: #79b2e0 !important;
    text-transform: uppercase;
}
.table tr:nth-child(odd) td {
    background-color: #bfecec;
}